extends ../layouts/master.jade

append titlePage
  title member-detail - WebBook

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade
  
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade

    ="\n"
    .member-detail.page-content-wrapper
      .page-content
        .page-bar
          ul.page-breadcrumb
            li
              span 회원 상세 정보
        // .page-bar
        
        ="\n"
        .member-detail-main.wb-pb-50
          form.form-member-detail-1.form-horizontal.portlet.light.bordered(action='#')
            .form-body
              .form-title.wb-container-style-1.text-center
                h3
                  strong 기본정보
              
              ="\n"
              .form-main.wb-container-style-1
                .form-group
                  label.control-label.col-md-3 아이디
                  .col-md-7
                    .form-control-static abcd1234

                ="\n"
                .form-group
                  label.control-label.col-md-3 이름
                  .col-md-7
                    input.form-control(name='', type='text', value='홍길동')

                ="\n"
                .form-group
                  label.control-label.col-md-3 닉네임
                  .col-md-7
                    input.form-control(name='', type='text', value='타타르')
                 
                ="\n"
                .form-group
                  label.control-label.col-md-3 비밀번호
                  .col-md-7
                    a.form-control-static(href="#") 임시비밀번호 전송

                ="\n"
                .form-group
                  label.control-label.col-md-3 연령구분
                  .col-md-7
                    select.form-control(name='')
                      option(value='0') 제너맨
                      option(value='1') 유니티
                      option(value='2') 하이틴
                      option(value='3') 로우틴

                ="\n"
                .form-group
                  label.control-label.col-md-3 작가등급
                  .col-md-7
                    select.form-control(name='')
                      option(value='0') 작가
                      option(value='1') 베스트리그
                      option(value='2') 챌린지리그

                ="\n"
                .form-group
                  label.control-label.col-md-3 이메일
                  .col-md-7
                    input.form-control(name='', type='text', value='tatar@tatar.com')

                ="\n"
                .form-group
                  label.control-label.col-md-3 핸드폰
                  .col-md-7
                    input.form-control(name='', type='text', value='01012341234')

                ="\n"
                .form-group
                  label.control-label.col-md-3 생년월일
                  .col-md-7
                    input.form-control.date-picker(data-date-format='yyyy-mm-dd', type='text')

                ="\n"
                .form-group
                  label.control-label.col-md-3 성별
                  .col-md-7
                    .radio-list
                      label.radio-inline
                        input(type='radio', name='test986', value='0')
                        | 남
                      label.radio-inline
                        input(type='radio', name='test986', value='1')
                        | 여

                ="\n"
                .form-group
                  label.control-label.col-md-3 성인 인증
                  .col-md-7
                    select.form-control(name='')
                      option(value='0') 미인증
                      option(value='1') 인증완료
              // .form-main

              ="\n"
              .wb-gap(style="border-bottom: 1px solid #e1e1e1; padding-bottom: 15px; margin-bottom: 15px;")

              ="\n"
              .form-action.text-center
                .wb-container-style-1
                  button.btn.green(type='submit') 변경내용 저장
                  a.btn.default(href="member-management.html") 취소
              //.form-action
          // .form-member-detail-1

          ="\n"
          .wb-gap(style="padding-bottom: 50px;")

          ="\n"
          .form-member-detail-2.form-horizontal.portlet.light.bordered
            .form-body
              .block-1.wb-container-style-1
                .portlet.light.bordered
                  .portlet-title
                    .caption
                      span.caption-subject.bold.font-grey-gallery.uppercase 쿠폰 정보

                  .portlet-body
                    .form-group
                      label.control-label.col-md-3 쿠폰 보유 금액
                      .col-md-4
                        .form-control-static 102
                      .col-md-4
                        a.btn-open-popup.btn.green(href="#", data-toggle='modal', data-target="#popupHeldCouponsChange") 변경

                    ="\n"
                    .form-group
                      label.control-label.col-md-3 쿠폰 충전 금액
                      .col-md-4
                        .form-control-static 5,000

                    ="\n"
                    .form-group
                      label.control-label.col-md-3 쿠폰 사용 금액
                      .col-md-4
                        .form-control-static 4,898
              // .block-1
                
              ="\n"
              .block-2.wb-container-style-1
                .portlet.light.bordered
                  .portlet-title
                    .caption
                      span.caption-subject.bold.font-grey-gallery.uppercase 활동정보

                  .portlet-body
                    .form-group
                      .control-label.col-md-3
                        a.btn-open-popup(href="#", data-toggle='modal', data-target="#popupBookInfoList") 작품 정보

                    ="\n"
                    .form-group
                      .control-label.col-md-3
                        a.btn-open-popup(href="#", data-toggle='modal', data-target="#popupViewingList") 감상 리스트

                    ="\n"
                    .form-group
                      .control-label.col-md-3
                        a.btn-open-popup(href="#", data-toggle='modal', data-target="#popupInterestedBookList") 관심 작품
              // .block-2
                
              ="\n"
              .wb-gap(style="border-bottom: 1px solid #e1e1e1; padding-bottom: 15px; margin-bottom: 15px;")

              ="\n"
              .form-action.text-center
                .wb-container-style-1
                  a.btn.default(href="member-management.html") 목록
              //.form-action
          // .form-member-detail-2

        // .member-detail-main
      // .page-content
    // .member-detail
  //.page-container
  
  ="\n"
  include ../includes/footer.jade
  
  ="\n"
  include ../includes/popupHeldCouponsChange.jade
  
  ="\n"
  include ../includes/popupBookInfoList.jade
  
  ="\n"
  include ../includes/popupViewingList.jade
  
  ="\n"
  include ../includes/popupInterestedBookList.jade
