<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.worksmobile.com" />
		<property name="port" value="465" />
		 <property name="protocol" value="smtps" />
		<property name="username" value="help@kwebsosul.com" />
		<property name="password" value="kwebsosul7#" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.mime.charset">UTF-8</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">false</prop>
				
        	</props>
		</property>
	</bean>
	
	<bean id="mail" class="org.trams.webbook.common.mail.Mail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessage" />
	</bean>
		
	<bean id="customeMailMessage"
		class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="help@kwebsosul.com" />
		<property name="subject" value="[k웹소설] 임시비밀번호 입니다." />
		<property name="text">
		<value>
			<![CDATA[
임시비밀번호: %s
			]]>
		</value>
	</property>
	</bean>


</beans>