.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li.active
        a(href='home.html')
          i.icon-home
          span.title 홈

      ="\n"
      li
        a(href='javascript:;')
          span.title 작품 관리
          span.arrow
        ul.sub-menu
          li
            a(href='book-management.html')
              |  작품
          li
            a(href='book-management-report.html')
              |  신고접수

      ="\n"
      li
        a(href='javascript:;')
          span.title 커뮤니티 관리
          span.arrow
        ul.sub-menu
          li
            a(href='post-management.html')
              |  게시물
          li
            a(href='post-management-report.html')
              |  신고접수

      ="\n"
      li
        a(href='member-management.html')
          span.title 회원 관리

      ="\n"
      li
        a(href='banner-management.html')
          span.title 배너 관리

      ="\n"
      li
        a(href='javascript:;')
          span.title 쿠폰 관리
          span.arrow
        ul.sub-menu
          li
            a(href='coupon-management.html')
              |  쿠폰 관리
          li
            a(href='#')
              |  충전내역
          li
            a(href='#')
              |  사용내역

      ="\n"
      li
        a(href='javascript:;')
          span.title 정산 관리
          span.arrow
        ul.sub-menu
          li
            a(href='sales-management.html')
              |  정산 관리
          li
            a(href='#')
              |  판매현황
          li
            a(href='#')
              |  환급내역

      ="\n"
      li
        a(href='keyword-management.html')
          span.title 키워드 관리
// .page-sidebar-wrapper
