#popupConfirmEditComment.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop='static' data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        strong 댓글을 수정하시겠습니까?
        // Do you want to modify your comments?
      .modal-footer
        a.btn.green.btn-delete(href="#") 확인
        button.btn.default(type='button', data-dismiss='modal') 취소
// .popupConfirmEditComment