#popupCancelPurchaseHistory.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop='static' data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        strong 구매 내역을 취소 하시 겠습니까?
        // Cancel purchase history?
      .modal-footer
        a.btn.green.btn-delete(href="#") 확인
        button.btn.default(type='button', data-dismiss='modal') 취소
// .popupCancelPurchaseHistory
