.wb-block-style-1
  .wb-dp-table
    .block-1-thumb.wb-dp-table-cell
      span.block-1-thumb-img(style="background-image: url(../../assets/images/demo_single_1.jpg);")
    // .block-1-thumb
    
    ="\n"
    .block-1-main.wb-dp-table-cell
      h4.block-1-title #[strong [로맨스] 유년의 상처 [로맨스] 유년의 상처]

      .block-1-info
        .wb-dp-table.align-bottom
          .wb-dp-table-cell.col-table
            table
              tr
                td 성인
                td N
              tr
                td 완결
                td Y
              tr
                td 작가
                td 토토마남
              tr
                td 연재관
                td 제너맨-베스트
              tr
                td 연재요일 
                td 월, 수, 금
              tr
                td 조회 수
                td 10,200
              tr
                td 추천 수
                td 150
          .wb-dp-table-cell.col-button
            a.btn.green.btn-book-edit-page(href="book-edit.html") 작품 정보 수정
            a.btn.red.btn-open-delete-popup(href="#", data-toggle='modal', data-target="#popupConfirmDelete") 작품 삭제
    // .block-1-main
// .wb-block-style-1
