.wb-pagination
  ul.pagination
    li.first
      a(href='#')
        i.fa.fa-angle-double-left
    li
      a(href='#')
        i.fa.fa-angle-left
    li
      a(href='#') 1
    li
      a(href='#') 2
    li.active
      a 3
    li
      a(href='#') 4
    li
      a(href='#') 5
    li
      a(href='#')
        i.fa.fa-angle-right
    li.last
      a(href='#')
        i.fa.fa-angle-double-right
// .wb-pagination
