.wbp-book-detail
  .wb-cat-tab: .container-mobile-full
    .wb-cat-tab-wrapper.clearfix
      .wb-cat-tab-item: a.mute(href="#") 오늘
      .wb-cat-tab-item: a.mute(href="#") 로맨스
      .wb-cat-tab-item: a.mute(href="#") 판타지
      .wb-cat-tab-item: a.mute(href="#") 무협
      .wb-cat-tab-item: a.mute(href="#") 퓨전/기타
      .wb-cat-tab-item: a.mute(href="#") 성인
      .wb-cat-tab-item.active 완결작

  .container: .wbp-book-detail-content
    .row
      .col-md-2.wbp-book-detail-content-col
        img.wb-shadow(src="/dist/assets/img/l-book2.png" alt="book")
      .col-md-10.wbp-book-detail-content-col
        .wb-f20.wb-color-primary 로맨스
        .wb-f26.wb-mt4 금혼령, 조선혼인 금지령
        .wb-pipe.wb-f16.wb-color-gray.wb-mt12
          .wb-pipe-item 글 천지혜
          .wb-pipe-item 오늘의 연재
          .wb-pipe-item 매주 화,금 연재
          .wb-pipe-item 조회수 10,200
        .wb-f16.wb-color-gray.wb-mt16
          | 백 년 전 죽었다고 전해지는 천하제일고수 천마황의 전설이 살아났다! 그 가운데 재수없게 복용한 약으로 여자가 되어버린 천생 남자 유성기. 어쩔 수 없는 운명 탓에 남장 여인을 하게 된 그는 사내 같은 말투와 곰 쓸개라도 씹어 먹은 듯한 담력, 피를 봐도 꿈쩍 하지 않는 냉담함....
        .wb-mt40.wbp-book-detail-action
          button.brb.wb-rbtn.style1(type="button") 
            img.wb-mr4(src="/dist/assets/img/heart.png" alt="heart")
            span 2535
          button.brb.wb-rbtn.style1(type="button") 첫회보기


  .container: .wbp-book-detail-tabs
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a.mute(href='#home', aria-controls='home', role='tab', data-toggle='tab') 연재목록
      li(role='presentation')
        a.mute(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') 공지사항
    // Tab panes
    .tab-content
      #home.tab-pane.active(role='tabpanel')
        .wb-wanna-fly
          .wb-wanna-fly-inner
            label.wb-check-raw
              input(type="radio" name="a")
              span 업데이트순
            label.wb-check-raw
              input(type="radio" name="a")
              span 조회순

        .table-responsive
          table.table.wbp-book-detail-table
            thead
              tr
                th 제목
                th 업데이트일
                th 조회수
                th 추천
                th 리뷰
                th 가격
            tbody
              - for(var i=10; i>0; i--) {
                tr
                  td.wb-f16: b #{i}. 금혼령, 조선혼인금지령
                  td.wb-f16.wb-color-gray: b 2015.10.13
                  td.wb-f16.wb-color-gray: b 총234회
                  td.wb-f16.wb-color-gray: b 000000
                  td.wb-f16.wb-color-gray: b 000000
                  td
                    button.brb.wb-rbtn-orange 2코인
              - }
        .text-center.wb-mt20
          +wb-pagin
      #profile.tab-pane(role='tabpanel') 2

