.wbp-coupon
  .wb-cat-tab: .container-mobile-full
    .wb-cat-tab-wrapper.clearfix
      .wb-cat-tab-item: a.mute(href="#") 관심작품
      .wb-cat-tab-item: a.mute(href="#") 책갈피
      .wb-cat-tab-item: a.mute(href="#") 내작품
      .wb-cat-tab-item.active 쿠폰 보유 현황
      .wb-cat-tab-item: a.mute(href="#") 판매/정산
      .wb-cat-tab-item: a.mute(href="#") 내정보 관리

  .container
    .wb-f22.wb-mt50 쿠폰 #[span.wb-color-complementary3 보유 현황]
    .sep2.wb-mt20
    .table-responsive.wb-mt50
      .wbp-coupon-box: .row
        .col-xs-6
          img.wb-mr32(src="/dist/assets/img/copone.png" alt="cup1")
          span.wb-f18 현재 보유 쿠폰: #[span.wb-color-red 129] 쿠폰
        .col-xs-6: .text-right.wb-mt24
          button.base-btn.wb-btn-com 충전하기

    .wb-f16.wb-mt50 자유게시판

    .wbp-coupon-w700.wb-mt20
      .table-responsive: table.table.wb-table-simple
        thead
          tr
            th 충전일
            th 충전금액
            th 결제수단
        tbody
          tr
            td 2015-01-01-12:20
            td 100쿠폰
            td 신용카드
          tr
            td 2015-01-01-12:20
            td 100쿠폰
            td 신용카드

    .wb-f16.wb-mt30 쿠폰 사용 내역

    .wbp-coupon-w700.wb-mt20
      .table-responsive: table.table.wb-table-simple
        thead
          tr
            th 사용일
            th 사용금액
            th 작품명
            th 회차명
        tbody
          tr
            td 2015-01-01-12:20
            td 100쿠폰
            td 어둠의 기사
            td 12화. 바다가 부르는 소리
          tr
            td 2015-01-01-12:20
            td 100쿠폰
            td 어둠의 기사
            td 12화. 바다가 부르는 소리