.wb-f28 81화.잡든지,잡히든지 #[br]#[br]
| 네가 처음이었어. 이렇게 그립고 이렇게 아픈 느낌은. 그러니까 너를 더 빨리 만났으면, 우리 훨씬 더 좋았을 텐데. 서로 비슷한 곳에서 태어났다면. 그랬더라면 너를 품에 안고 끝까지 함께 가자 말했을 텐데.#[br]
| #[br]
| 횡단보도를 건너던 널 본 그 첫 순간부터,#[br]
| 수줍은 얼굴로 좋아한다며 내 가슴을 찢던 때에도,#[br]
| 깨어 있으면서도 감히 날 잡지 않았던 헤어지던 새벽 그 순간에도, 모두.#[br]
| #[br]
| 너는 내가 이루고 싶었던 가장 아름다운 바람…….#[br]
| #[br]
| 오랜 시간 한 남자만을 꿈꾼 여자#[br]
| 어떤 장소에서 어떤 모습으로 만났어도 결국 한 여자만을 사랑한 남자#[br]
| 파리, 시드니, 그리고 서울을 오가며 그들은 성장하고 사랑한다#[br]
| 그리움의 바람도 커져 간다#[br]
| #[br]
| 웃으며 지내면 다시 온다고, 그때는 떠나지 않겠다고 남자는 약속한다. 그 약속을 잊지 않은 소녀는 밝고 명랑한 아가씨로 성장한다. 간절했던 여자의 꿈은 결국 이루어지고, 두 사람은 재회한다. 그러나 그들은 모든 면에서 전혀 다른 삶을 사는 사람들. 이미 어긋나 버린 이 관계에선 한 치 앞의 미래도 기대할 수 없다. 아주아주 오래전부터 좋아했다는 수줍은 고백도 그렇게 ‘바람’이 되어 버린 아릿한 사랑 이야기 『바람』#[br]
| #[br]
| 여성 독자들의 심금을 울리며 꾸준히 많은 사랑을 받고 있는 『눈꽃』, 『불꽃』, 『정우』의 작가 홍수연의 신작으로 이번 소설 『바람』역시 전작에서 보여 준 인물들의 섬세한 심리 묘사와 눈앞에 보이는 듯 생생한 캐릭터 구현이 돋보인다. 연재 당시부터 화제를 모으며 많은 독자들이 손꼽아 기다렸던 작품이기도 하다.#[br]
| #[br]
| 가슴을 파고드는 애틋한 러브스토리뿐 아니라 주인공들의 사랑과 갈등을 더욱 탄탄하게 받쳐 주는 