.wbp-login: .container
  .wbp-register-form
    .wb-f24 로그인
    .sep.wb-mt20
    
    .wbp-login-wrapper.clearfix
      .wbp-login-left
        .wbp-login-input-row.clearfix
          .wbp-login-input-label
            label 아이디
          .wbp-login-input-text
            input.wb-textbox(type="text")
        .wbp-login-input-row.clearfix
          .wbp-login-input-label
            label 비밀번호
          .wbp-login-input-text
            input.wb-textbox(type="text")

      .wbp-login-right
        button.wbp-login-btn 로그인

      .wbp-login-row
        .row
          .col-xs-6
            label.wb-check-rect
              input(type="checkbox" name="a")
              span
            span.wb-color-gray 아이디 저장
          .col-xs-6.text-right.forgot
            a.mute.wb-mr28(href="#"): span.wb-color-gray 아이디 찾기
            a.mute(href="#"): span.wb-color-gray 비밀번호 찾기

    .sep
    
    .text-center.wb-mt18
      a.mute(href="#"): span.wb-color-gray.udl 아직 계정이 없으신가요?
