.wbp-notice
  .wb-cat-tab: .container-mobile-full
    .wb-cat-tab-wrapper.clearfix
      .wb-cat-tab-item: a.mute(href="#") 오늘
      .wb-cat-tab-item: a.mute(href="#") 로맨스
      .wb-cat-tab-item.active 판타지
      .wb-cat-tab-item: a.mute(href="#") 무협
      .wb-cat-tab-item: a.mute(href="#") 퓨전/기타
      .wb-cat-tab-item: a.mute(href="#") 성인
      .wb-cat-tab-item: a.mute(href="#") 완결작

  .wbp-free-board-title: .container
    .wb-f22 #[span.wb-color-complementary 공지]사항

  .wbp-free-board-info-bar: .container
    .wbp-free-board-info-bar-wrapper
      .row
        .col-md-2
          .wb-f16: b 제목
        .col-md-2
          .wb-f16.wb-color-gray 기억될 리멤버
        .col-md-2.col-md-offset-4
          .wb-f14.text-right.wb-color-gray 작성자: 김둥글레
        .col-md-2
          .wb-f14.text-right.wb-color-gray 작성일: 2015-10-30

  .wbp-free-board-detail.container
    | 어듬에다크에서 죽음의 데스를 느끼며 서쪽에서 불어오는 바람의윈드를 맞았다. 그것은 운명의데스티니. #[br]
    |그는 인생의 라이프를 끝내기 위해 디엔드. 모든것을 옭아매는 #[br]
    |폭풍같은 스톰에서 벗아니기 위해 결국 자신 스스로를 죽음의데스로 몰아갔다. #[br]
    |후에 전설의 레전드로서 기억에 메모리 – 기적에 미라클 길이길이 가슴 속의 하트에 기억될 리멤버


  .container: .wbp-notice-bar
    b.wb-mr20 첨부파일
    span.wb-color-gray.wb-mr20 |
    span.wb-color-gray 사용자 매뉴얼.pdf(350kb)

  .container.wb-mt30: .text-right
    button.base-btn.wb-btn-bold 목록