$primaryColor: #0b8bce;
$complementaryColor: #f36527;
$complementaryColor2: #ff3c00;
$complementaryColor3: #ff8400;

$redColor: #de0303;

$textGrayColor: #727272;
$textGrayColor2: #666666;
$textGrayColor3: #888888;

$grayColor: #ccc;

$md: 1060px;