@charset "UTF-8";
/* --------------------------------------------------------------------- */
/* Common Styling
/* --------------------------------------------------------------------- */
/*FONT*/
@font-face {
  font-family: 'NanumBarunGothic';
  src: url("../fonts/nanum/NanumBarunGothic.eot");
  src: url("../fonts/nanum/NanumBarunGothic.woff") format("woff"), url("../fonts/nanum/NanumBarunGothic.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumGothic';
  src: url("../fonts/nanum/NanumGothic.eot");
  src: url("../fonts/nanum/NanumGothic.woff") format("woff"), url("../fonts/nanum/NanumGothic.ttf") format("truetype");
}

body {
  font-family: 'Noto Sans CJK KR';
}

a.mute {
  color: inherit;
}

a.mute:hover, a.mute:active, a.mute:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

.container-mobile-full {
  width: 1060px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

@media (max-width: 1059px) {
  .container-mobile-full {
    width: 100%;
    padding: 0;
  }
}

.udl {
  text-decoration: underline;
}

.sep {
  border-top: 1px solid #ccc;
}

.sep2 {
  border-top: 2px solid #ccc;
}

.wb-shadow {
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.wb-wn {
  font-weight: normal;
}

.wb-ib {
  display: inline-block;
}

.wb-f12 {
  font-size: 12px;
}

.wb-f14 {
  font-size: 14px;
}

.wb-f16 {
  font-size: 16px;
}

.wb-f18 {
  font-size: 18px;
}

.wb-f20 {
  font-size: 20px;
}

.wb-f22 {
  font-size: 22px;
}

.wb-f24 {
  font-size: 24px;
}

.wb-f26 {
  font-size: 26px;
}

.wb-f28 {
  font-size: 28px;
}

.wb-f30 {
  font-size: 30px;
}

.wb-f32 {
  font-size: 32px;
}

.wb-f34 {
  font-size: 34px;
}

.wb-f36 {
  font-size: 36px;
}

.wb-f38 {
  font-size: 38px;
}

.wb-f40 {
  font-size: 40px;
}

.wb-f42 {
  font-size: 42px;
}

.wb-f44 {
  font-size: 44px;
}

.wb-f46 {
  font-size: 46px;
}

.wb-f48 {
  font-size: 48px;
}

.wb-f50 {
  font-size: 50px;
}

.wb-f52 {
  font-size: 52px;
}

.wb-f54 {
  font-size: 54px;
}

.wb-f56 {
  font-size: 56px;
}

.wb-f58 {
  font-size: 58px;
}

.wb-f60 {
  font-size: 60px;
}

.wb-f62 {
  font-size: 62px;
}

.wb-f64 {
  font-size: 64px;
}

.wb-f66 {
  font-size: 66px;
}

.wb-f68 {
  font-size: 68px;
}

.wb-f70 {
  font-size: 70px;
}

.wb-f72 {
  font-size: 72px;
}

.wb-f74 {
  font-size: 74px;
}

.wb-f76 {
  font-size: 76px;
}

.wb-f78 {
  font-size: 78px;
}

.wb-f80 {
  font-size: 80px;
}

.wb-mr2 {
  margin-right: 2px;
}

.wb-mr4 {
  margin-right: 4px;
}

.wb-mr6 {
  margin-right: 6px;
}

.wb-mr8 {
  margin-right: 8px;
}

.wb-mr10 {
  margin-right: 10px;
}

.wb-mr12 {
  margin-right: 12px;
}

.wb-mr14 {
  margin-right: 14px;
}

.wb-mr16 {
  margin-right: 16px;
}

.wb-mr18 {
  margin-right: 18px;
}

.wb-mr20 {
  margin-right: 20px;
}

.wb-mr22 {
  margin-right: 22px;
}

.wb-mr24 {
  margin-right: 24px;
}

.wb-mr26 {
  margin-right: 26px;
}

.wb-mr28 {
  margin-right: 28px;
}

.wb-mr30 {
  margin-right: 30px;
}

.wb-mr32 {
  margin-right: 32px;
}

.wb-mr34 {
  margin-right: 34px;
}

.wb-mr36 {
  margin-right: 36px;
}

.wb-mr38 {
  margin-right: 38px;
}

.wb-mr40 {
  margin-right: 40px;
}

.wb-mr42 {
  margin-right: 42px;
}

.wb-mr44 {
  margin-right: 44px;
}

.wb-mr46 {
  margin-right: 46px;
}

.wb-mr48 {
  margin-right: 48px;
}

.wb-mr50 {
  margin-right: 50px;
}

.wb-mr52 {
  margin-right: 52px;
}

.wb-mr54 {
  margin-right: 54px;
}

.wb-mr56 {
  margin-right: 56px;
}

.wb-mr58 {
  margin-right: 58px;
}

.wb-mr60 {
  margin-right: 60px;
}

.wb-mr62 {
  margin-right: 62px;
}

.wb-mr64 {
  margin-right: 64px;
}

.wb-mr66 {
  margin-right: 66px;
}

.wb-mr68 {
  margin-right: 68px;
}

.wb-mr70 {
  margin-right: 70px;
}

.wb-mr72 {
  margin-right: 72px;
}

.wb-mr74 {
  margin-right: 74px;
}

.wb-mr76 {
  margin-right: 76px;
}

.wb-mr78 {
  margin-right: 78px;
}

.wb-mr80 {
  margin-right: 80px;
}

.wb-mt2 {
  margin-top: 2px;
}

.wb-mt4 {
  margin-top: 4px;
}

.wb-mt6 {
  margin-top: 6px;
}

.wb-mt8 {
  margin-top: 8px;
}

.wb-mt10 {
  margin-top: 10px;
}

.wb-mt12 {
  margin-top: 12px;
}

.wb-mt14 {
  margin-top: 14px;
}

.wb-mt16 {
  margin-top: 16px;
}

.wb-mt18 {
  margin-top: 18px;
}

.wb-mt20 {
  margin-top: 20px;
}

.wb-mt22 {
  margin-top: 22px;
}

.wb-mt24 {
  margin-top: 24px;
}

.wb-mt26 {
  margin-top: 26px;
}

.wb-mt28 {
  margin-top: 28px;
}

.wb-mt30 {
  margin-top: 30px;
}

.wb-mt32 {
  margin-top: 32px;
}

.wb-mt34 {
  margin-top: 34px;
}

.wb-mt36 {
  margin-top: 36px;
}

.wb-mt38 {
  margin-top: 38px;
}

.wb-mt40 {
  margin-top: 40px;
}

.wb-mt42 {
  margin-top: 42px;
}

.wb-mt44 {
  margin-top: 44px;
}

.wb-mt46 {
  margin-top: 46px;
}

.wb-mt48 {
  margin-top: 48px;
}

.wb-mt50 {
  margin-top: 50px;
}

.wb-mt52 {
  margin-top: 52px;
}

.wb-mt54 {
  margin-top: 54px;
}

.wb-mt56 {
  margin-top: 56px;
}

.wb-mt58 {
  margin-top: 58px;
}

.wb-mt60 {
  margin-top: 60px;
}

.wb-mt62 {
  margin-top: 62px;
}

.wb-mt64 {
  margin-top: 64px;
}

.wb-mt66 {
  margin-top: 66px;
}

.wb-mt68 {
  margin-top: 68px;
}

.wb-mt70 {
  margin-top: 70px;
}

.wb-mt72 {
  margin-top: 72px;
}

.wb-mt74 {
  margin-top: 74px;
}

.wb-mt76 {
  margin-top: 76px;
}

.wb-mt78 {
  margin-top: 78px;
}

.wb-mt80 {
  margin-top: 80px;
}

.wb-color-primary {
  color: #0b8bce;
}

.wb-color-complementary {
  color: #f36527;
}

.wb-color-complementary2 {
  color: #ff3c00;
}

.wb-color-complementary3 {
  color: #ff8400;
}

.wb-color-gray {
  color: #727272;
}

.wb-color-gray2 {
  color: #666666;
}

.wb-color-gray3 {
  color: #888888;
}

.wb-color-red {
  color: #de0303;
}

.wb-text-crop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wb-h36 {
  height: 36px;
}

.wb-h40 {
  height: 40px;
}

.wb-header {
  height: 50px;
  background-color: white;
  border-top: 3px solid #0b8bce;
}

.wb-header-logo {
  padding-top: 12px;
}

.wb-header-nav {
  padding-top: 12px;
  padding-right: 40px;
  text-align: right;
}

.wb-header-nav-item {
  display: inline-block;
  margin-left: 27px;
}

.wb-header-nav-col {
  width: 693px;
}

.wb-header-search {
  margin-top: 9px;
  width: 140px;
}

.wb-search {
  position: relative;
}

.wb-search input {
  width: 100%;
  height: 28px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 13px;
  padding-left: 13px;
  padding-right: 31px;
  outline: none;
}

.wb-search img {
  position: absolute;
  right: 14px;
  top: 5px;
}

.wb-search2 {
  width: 100%;
  height: 80px;
  outline: none;
  border-radius: 40px;
  border: none;
  padding: 0 40px;
  font-size: 26px;
}

.wb-sub-header {
  background-color: #0b8bce;
  height: 60px;
}

.wb-sub-header-nav1 {
  padding-top: 17px;
}

.wb-sub-header-nav1-item {
  display: inline-block;
  color: #dddddd;
  font-size: 18px;
  font-weight: bold;
  margin-right: 38px;
}

.wb-sub-header-nav1-item.active {
  color: white;
}

.wb-sub-header-nav2 {
  padding-top: 20px;
  text-align: right;
}

.wb-sub-header-nav2-item {
  display: inline-block;
  color: white;
  font-weight: bold;
  margin-left: 38px;
}

.wb-content {
  padding-top: 50px;
  padding-bottom: 192px;
}

.wb-copyright {
  font-size: 13px;
  color: #ccc;
  margin-top: 4px;
}

.wb-contact {
  font-size: 13px;
  color: #ccc;
  margin-top: 13px;
}

.wb-contact-item {
  margin-right: 28px;
}

.wb-btn-lean {
  display: inline-block;
  height: 36px;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 20px;
  line-height: 36px;
  padding: 0 11px;
  background-color: transparent;
}

.wb-btn-lean + .wb-btn-lean {
  margin-left: -4px;
}

.wb-sitemap-item {
  font-size: 12px;
  display: inline-block;
  font-weight: bold;
  color: #666666;
  padding-right: 7px;
}

.wb-sitemap-item + .wb-sitemap-item {
  padding-left: 7px;
  border-left: 1px solid #ccc;
}

.wb-box, .wb-box-pad_30_50 {
  border: 1px solid #ccc;
}

.wb-box + .wb-box, .wb-box-pad_30_50 + .wb-box, .wb-box + .wb-box-pad_30_50, .wb-box-pad_30_50 + .wb-box-pad_30_50 {
  border-top: none;
}

.wb-box-pad_30_50 {
  padding: 30px 50px;
}

.wb-footer {
  height: 189px;
  border-top: 1px solid #ccc;
  padding-top: 41px;
  overflow-x: hidden;
}

.wb-footer-logo {
  width: 144px;
}

@media (min-width: 1060px) {
  .wb-footer-other {
    width: 856px;
  }
  .wb-footer .container {
    width: 1141px;
  }
}

.wb-dot {
  float: left;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.wb-dot + .wb-dot {
  margin-left: 10px;
}

.wb-dot.active {
  background-color: #0b8bce;
}

.wb-dot-holder {
  display: inline-block;
}

.wb-feature {
  padding-top: 19px;
  padding-bottom: 17px;
  background-color: #f5f5f5;
}

.wb-feature-title {
  display: inline-block;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 204px;
}

.wb-feature-slide {
  white-space: nowrap;
  margin-top: 37px;
}

@media (max-width: 1059px) {
  .wb-feature-slide {
    overflow-x: scroll;
    margin-right: -30px;
  }
}

.wb-feature-slide-control {
  position: relative;
}

@media (max-width: 1059px) {
  .wb-feature-slide-control {
    display: none;
  }
}

.wb-feature-slide-control-left, .wb-feature-slide-control-right {
  position: absolute;
  top: 90px;
  cursor: pointer;
}

.wb-feature-slide-control-right {
  right: 0;
}

.wb-feature-slide-wrapper {
  overflow-x: hidden;
  padding: 0 25px;
}

@media (max-width: 1059px) {
  .wb-feature-slide-wrapper {
    padding: 0;
    display: inline-block;
  }
}

.wb-feature-slide-item {
  display: inline-block;
  width: 140px;
  height: 215px;
  background-color: white;
  margin: 0 24px;
}

@media (max-width: 1059px) {
  .wb-feature-slide-item:first-child {
    margin-left: 0;
  }
}

.wb-feature-slide-indicator {
  padding-top: 10px;
}

@media (max-width: 1059px) {
  .wb-feature-slide-indicator {
    display: none;
  }
}

.wb-book-card {
  width: 140px;
  height: 215px;
  border: 1px solid #ccc;
}

.wb-book-card-img {
  background-position: center;
  background-size: cover;
  height: 133px;
}

.wb-book-card-text {
  padding: 8px 5px 0 5px;
}

.wb-banner {
  padding-top: 50px;
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
}

.wb-banner-item {
  float: left;
}

.wb-banner-item + .wb-banner-item {
  margin-left: 20px;
}

.wb-table-simple thead tr th {
  border-bottom: none;
  background-color: #999999;
  color: white;
  font-size: 13px;
  height: 40px;
  vertical-align: middle;
}

.wb-table-simple tbody tr td {
  border-top: none;
  color: #474747;
  border-bottom: 1px solid #ccc;
  height: 42px;
  vertical-align: middle;
}

.wb-table-simple2 {
  border: 1px solid #d3d3d3;
}

.wb-table-simple2 thead tr th {
  border-bottom: 1px solid #d3d3d3;
  background-color: #999999;
  color: white;
  font-size: 16px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
}

.wb-table-simple2 thead tr th + th {
  border-left: 1px solid #d3d3d3;
}

.wb-table-simple2 tbody tr td {
  border-top: none;
  color: #474747;
  border-bottom: 1px solid #d3d3d3;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #474747;
  padding: 0 20px;
}

.wb-table-simple2 tbody tr td + td {
  border-left: 1px solid #d3d3d3;
}

.wb-table-simple3 thead {
  border-top: 2px solid #a1a1a1;
}

.wb-table-simple3 thead tr th {
  border-bottom: 1px solid #ccc;
  height: 49px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.wb-table-simple3 tbody tr td {
  border-bottom: 1px solid #ccc;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}

.wb-competition-table-wrapper {
  overflow-x: auto;
}

.wb-competition-table {
  width: 100%;
  table-layout: fixed;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 79px;
}

@media screen and (max-width: 767px) {
  .wb-competition-table {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 1059px) {
  .wb-competition-table {
    margin-bottom: 30px;
  }
}

.wb-competition-table th {
  background-color: #f5f9fc;
  border-top: 2px solid #0b8bce;
  height: 41px;
  text-align: center;
  font-weight: normal;
  border-left: 1px solid #ccc;
}

.wb-competition-table th:first-child {
  width: 180px;
  border-left: none;
}

.wb-competition-table td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  height: 226px;
}

.wb-competition-table td:first-child {
  border-left: none;
}

@media (max-width: 1059px) {
  .wb-competition-table td:first-child {
    border-left: 1px solid #ccc;
  }
  .wb-competition-table td:last-child {
    border-right: 1px solid #ccc;
  }
}

.wb-competition-item {
  width: 120px;
  height: 184px;
  display: inline-block;
  text-align: left;
}

.wb-competition-item + .wb-competition-item {
  margin-left: 46px;
}

.wb-notice-dot:before {
  content: ".";
  margin-right: 10px;
  font-weight: bold;
}

.wb-free-board-tab {
  border-bottom: none;
}

.wb-free-board-tab li {
  background-color: white;
  border: 1px solid #ccc;
}

.wb-free-board-tab li + li {
  border-left: none;
}

.wb-free-board-tab li a, .wb-free-board-tab li a:focus, .wb-free-board-tab li a:hover {
  border: none;
  border-radius: 0;
  background-color: white;
  width: 120px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.wb-free-board-tab li.active a, .wb-free-board-tab li.active a:focus, .wb-free-board-tab li.active a:hover {
  background-color: #1a8fe1;
  border: none;
  color: white;
  margin: 0;
}

.wb-popup-header {
  height: 50px;
  line-height: 50px;
  background-color: #1a8fe1;
  padding: 0 20px;
  color: white;
}

.wb-popup-body {
  padding: 26px 45px;
  background-color: white;
}

.wb-popup.var1 {
  width: 460px;
  margin: 40px auto;
}

.wb-popup.var2 {
  width: 750px;
  margin: 40px auto;
}

@media (max-width: 1059px) {
  .wb-popup.var1, .wb-popup.var2 {
    width: auto;
  }
}

.wb-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.29);
  overflow-y: auto;
}

.wb-overlay-inner {
  display: table;
  width: 100%;
  height: 100%;
}

.wb-overlay-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.wb-pill {
  background-color: white;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.wb-wanna-fly {
  position: relative;
}

.wb-wanna-fly-inner {
  position: absolute;
  z-index: 100;
  right: 0;
  top: -45px;
}

.wb-other {
  border-top: 1px solid #ccc;
  padding: 38px 0;
  background-color: #f9f9f9;
}

.wb-other-col:nth-child(1) {
  width: 294px;
  margin-right: 44px;
}

.wb-other-col:nth-child(2) {
  width: 300px;
  margin-right: 51px;
}

.wb-other-col:nth-child(3) {
  width: 311px;
}

.wb-canvas {
  position: relative;
  overflow: hidden;
}

.wb-canvas-side {
  position: absolute;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.wb-canvas-wrapper.active {
  transform: translate3d(-80%, 0, 0);
  transition: transform 0.5s ease;
}

.wb-canvas-wrapper {
  transition: transform 0.5s ease;
}

.wb-check-rect {
  cursor: pointer;
}

.wb-check-rect input {
  display: none;
}

.wb-check-rect > span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/check-deactive.png);
  vertical-align: bottom;
  margin-right: 15px;
}

.wb-check-rect input:checked + span:before {
  background: url(../img/check-active.png);
}

.wb-check-rect + .wb-check-rect {
  margin-left: 28px;
}

.wb-check-tie {
  cursor: pointer;
}

.wb-check-tie input {
  display: none;
}

.wb-check-tie > span {
  display: inline-block;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #ccc;
  font-weight: normal;
  font-size: 14px;
}

.wb-check-tie input:checked + span {
  background-color: #ff8400;
  border: 1px solid #ff8400;
  color: white;
}

.wb-check-tie + .wb-check-tie {
  margin-left: -4px;
}

.wb-check-rad {
  cursor: pointer;
}

.wb-check-rad input {
  display: none;
}

.wb-check-rad > span:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/rad-deactive.png);
  vertical-align: bottom;
  margin-right: 15px;
}

.wb-check-rad input:checked + span:before {
  background: url(../img/rad-active.png);
}

.wb-check-rad + .wb-check-rad {
  margin-left: 28px;
}

.wb-check-rad2 {
  cursor: pointer;
}

.wb-check-rad2 input {
  display: none;
}

.wb-check-rad2 > span {
  font-weight: normal;
}

.wb-check-rad2 > span:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/rad-deactive.png);
  vertical-align: bottom;
  margin-left: 10px;
}

.wb-check-rad2 input:checked + span:after {
  background: url(../img/rad-active.png);
}

.wb-check-rad2 + .wb-check-rad2 {
  margin-left: 20px;
}

.wb-check-square {
  display: inline-block;
  height: 40px;
  padding: 0 13px;
  border: 1px solid #ccc;
  vertical-align: bottom;
  line-height: 40px;
  margin-left: -4px;
  margin-bottom: 0;
  cursor: pointer;
}

.wb-check-square.first {
  margin-left: -4px;
  padding: 0 27px;
}

.wb-check-square span {
  font-weight: normal;
}

.wb-check-square input:checked + span {
  color: #0b8bce;
}

.wb-check-square input {
  display: none;
}

.wb-select {
  display: inline-block;
  border: 1px solid #ccc;
  position: relative;
}

.wb-select:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../img/down.png) no-repeat center, white;
  width: 30px;
  border-left: 1px solid #ccc;
  pointer-events: none;
}

.wb-select select {
  height: 32px;
  border: none;
  width: 140px;
  outline: none;
  padding: 0 8px;
  font-size: 16px;
  color: #747474;
  background-color: white;
}

.wb-select + .wb-select {
  margin-left: 5px;
}

.wb-select.full {
  width: 100%;
}

.wb-select.full select {
  width: 100% !important;
}

@media (max-width: 1059px) {
  .wb-select {
    border: none;
  }
  .wb-select select {
    width: auto;
    font-size: 24px;
    padding: 0;
    padding-right: 10px;
  }
  .wb-select:after {
    border-left: none;
    width: 13px;
  }
  .wb-select.persit {
    display: inline-block;
    border: 1px solid #ccc;
    position: relative;
  }
  .wb-select.persit:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/down.png) no-repeat center, white;
    width: 30px;
    border-left: 1px solid #ccc;
    pointer-events: none;
  }
  .wb-select.persit select {
    height: 32px;
    border: none;
    width: 140px;
    outline: none;
    padding: 0 8px;
    font-size: 16px;
    color: #747474;
    background-color: white;
  }
  .wb-select.persit + .wb-select.persit {
    margin-left: 5px;
  }
}

.wb-day-combo-label {
  height: 40px;
  width: 80px;
  background-color: white;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  line-height: 40px;
  font-weight: bold;
  display: inline-block;
}

.wb-cat-filter {
  margin-top: 40px;
}

.wb-cat-filter-genre {
  padding-top: 5px;
}

@media (max-width: 1059px) {
  .wb-cat-filter {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin: 0;
  }
  .wb-cat-filter-genre {
    padding-top: 0;
  }
}

.wb-book-intro-img {
  width: 129px;
  margin-right: 67px;
}

.wb-book-intro-detail {
  width: 215px;
}

@media (max-width: 1059px) {
  .wb-book-intro .row {
    display: flex;
  }
  .wb-book-intro-detail {
    flex: 1;
    padding-right: 10px;
  }
}

.wb-list-head {
  padding: 13px 21px;
  border-top: 2px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}

.wb-list-item {
  padding: 30px 21px;
  border-bottom: 1px solid #a1a1a1;
}

.wb-list-side-item {
  padding: 20px 26px;
  border-top: 1px solid white;
  border-bottom: 1px solid #ccc;
}

.wb-book-list {
  margin-top: 49px;
}

.wb-book-list-wrapper {
  margin: 0 -9px;
}

.wb-book-list-item {
  width: 490px;
  height: 270px;
  float: left;
  border: 1px solid #ccc;
  margin: 0 9px 49px 9px;
  padding-top: 44px;
  padding-left: 39px;
}

@media (max-width: 1059px) {
  .wb-book-list {
    margin-top: 29px;
  }
  .wb-book-list-item {
    width: 100%;
    margin-bottom: 29px;
    height: auto;
    padding-bottom: 44px;
  }
}

.wb-check-raw + .wb-check-raw {
  margin-left: 19px;
}

.wb-check-raw span {
  font-size: 16px;
  color: #474747;
  font-weight: normal;
  position: relative;
}

.wb-check-raw span:before {
  content: "• ";
}

.wb-check-raw input {
  display: none;
}

.wb-check-raw input:checked + span {
  color: #de0303;
}

@media (max-width: 1059px) {
  .wb-league-col2-1 {
    margin-bottom: 5px;
  }
  .wb-league-col2-2 {
    width: 60px;
    position: relative;
    margin-right: 10px;
  }
  .wb-league-col2-2:after {
    content: "|";
    position: absolute;
    top: 0;
    right: 0;
    font-weight: normal;
  }
}

.wb-pagin {
  display: inline-block;
}

.wb-pagin-item {
  display: inline-block;
  height: 28px;
  min-width: 28px;
  line-height: 28px;
  font-size: 15px;
  text-align: center;
  margin: 0 3px;
  padding: 0 10px;
}

.wb-pagin-item:hover {
  background-color: #F1F1F1;
}

.wb-pagin-item.active {
  background-color: #0b8bce;
  color: white;
}

.wb-pagin-item.left {
  background: url(../img/left2.png) no-repeat center;
}

.wb-pagin-item.right {
  background: url(../img/right2.png) no-repeat center;
}

.wb-pagin-item.boss {
  font-size: 16px;
  font-weight: bold;
  color: #888888;
}

.wb-comment {
  border-top: 2px solid #a1a1a1;
  margin-bottom: 40px;
}

.wb-comment-item {
  border-bottom: 1px solid #ccc;
  padding: 17px 19px;
}

.wb-comment-side {
  text-align: right;
  padding-top: 8px;
}

.brb {
  min-width: 60px;
  height: 31px;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 0 17px;
}

.brb.wb-rbtn {
  border: 1px solid #ccc;
  background-color: white;
}

.brb.wb-rbtn:hover {
  border-color: #0b8bce;
  transition: all 0.2s ease;
}

.brb + .brb {
  margin-left: 7px;
}

.brb.wb-rbtn-bold {
  color: white;
  background-color: #888888;
}

.brb.wb-rbtn-bold:hover {
  background-color: #0b8bce;
  transition: background-color 0.2s ease;
}

.brb.wb-rbtn-orange {
  color: white;
  background-color: #ff8400;
}

.brb.wb-rbtn-orange:hover {
  background-color: #ff9d33;
  transition: background-color 0.2s ease;
}

.brb.style1 {
  background-color: #f7f7f7;
  height: 34px;
  border-radius: 17px;
}

.wb-btn-vert {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  outline: none;
}

.wb-btn-vert + .wb-btn-vert {
  margin-top: -1px;
}

.wb-btn-ex1 {
  min-width: 145px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 18px;
}

.wb-btn-ex1 + .wb-btn-ex1 {
  margin-left: 31px;
}

.wb-btn-ex1.gray {
  color: white;
  background-color: #818181;
}

.wb-btn-ex1.gray:hover {
  background-color: #0b8bce;
  transition: background-color 0.2s ease;
}

.wb-btn-ex1.orange {
  color: white;
  background-color: #ff8400;
}

.wb-btn-ex1.orange:hover {
  background-color: #ff9d33;
  transition: background-color 0.2s ease;
}

.base-btn {
  min-width: 80px;
  height: 34px;
  border: none;
  outline: none;
  padding: 0 18px;
}

.base-btn + .base-btn {
  margin-left: 7px;
}

.base-btn img {
  vertical-align: sub;
  margin-right: 6px;
}

.base-btn.wb-btn {
  border: 1px solid #ccc;
  background-color: white;
}

.base-btn.wb-btn:hover {
  border-color: #0b8bce;
  transition: all 0.2s ease;
}

.base-btn.wb-btn-bold {
  color: white;
  background-color: #888888;
}

.base-btn.wb-btn-bold:hover {
  background-color: #0b8bce;
  transition: background-color 0.2s ease;
}

.base-btn.wb-btn-com {
  color: white;
  background-color: #ff8400;
}

.base-btn.wb-btn-big {
  color: white;
  background-color: #888888;
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.base-btn.wb-btn-big:hover {
  background-color: #0b8bce;
  transition: background-color 0.2s ease;
}

.base-btn.wb-btn-big2 {
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.base-btn.wb-btn-big2:hover {
  border: 1px solid #0b8bce;
  transition: border 0.2s ease;
}

.base-btn.wb-btn-shine {
  color: white;
  background-color: #1a8fe1;
  min-width: 100px;
  height: 40px;
  font-size: 16px;
}

.base-btn.primary {
  background-color: #0b8bce;
}

.base-btn.h36 {
  height: 36px;
}

.base-btn.h40 {
  height: 40px;
}

.base-btn.w100 {
  width: 100px;
}

.base-btn.gray {
  background-color: #f7f7f7;
}

.base-btn.form-control {
  padding: 0;
  border-radius: 0;
  width: 100px;
}

@media (max-width: 1059px) {
  .base-btn.wb-btn-big {
    height: 50px;
  }
}

.wb-form-hoz .control-label {
  text-align: left;
}

.wb-form-hoz-col {
  padding: 0 10px;
}

.wb-form-hoz-col.first {
  padding-left: 0;
}

.wb-form-hoz-col.last {
  padding-right: 0;
}

.wb-form-hoz .form-group {
  margin-bottom: 29px;
}

@media (max-width: 1059px) {
  .wb-form-hoz .control-label {
    margin-bottom: 10px;
  }
  .wb-form-hoz-col {
    padding: 0;
    margin-bottom: 10px;
  }
  .wb-form-hoz .form-group {
    margin-bottom: 10px;
  }
}

.wb-textbox {
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.wb-textbox:focus {
  box-shadow: none;
}

.bw-well-1 {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 20px;
}

.wb-area {
  border: 1px solid #d3d3d3;
  outline: none;
  padding: 20px;
}

.wb-area-style1 {
  width: 100%;
  height: 100px;
}

.wb-area-style2 {
  width: 100%;
  height: 80px;
}

.wb-area-style3 {
  width: 100%;
  height: 320px;
}

.wb-area-style4 {
  width: 100%;
  height: 180px;
}

.wb-write-comment {
  margin-bottom: 330px;
}

.wb-write-comment-wrapper {
  border-top: 1px solid #d3d3d3;
  padding: 29px 24px;
  background-color: #f2f2f2;
  margin-top: 18px;
}

.wb-write-comment-col:nth-child(1) {
  width: 840px;
  margin-right: 10px;
}

.wb-write-comment-col:nth-child(2) {
  width: 102px;
}

@media (max-width: 1059px) {
  .wb-write-comment-col:nth-child(1) {
    width: inherit;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .wb-write-comment-col:nth-child(2) {
    width: inherit;
  }
}

.wb-pipe-item {
  display: inline-block;
  padding: 0 10px;
}

.wb-pipe-item + .wb-pipe-item {
  border-left: 1px solid #ccc;
}

.wb-pipe-item:first-child {
  padding-left: 0;
}

.wb-pipe-item:last-child {
  padding-right: 0;
}

.wb-3col {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.wb-3col-col {
  display: table-cell;
}

.wb-3col.style1 .wb-3col-col:nth-child(1),
.wb-3col.style1 .wb-3col-col:nth-child(3) {
  vertical-align: middle;
  width: 34px;
}

.wb-g-btn {
  min-width: 50px;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #ccc;
  background-color: white;
}

.wb-g-btn + .wb-g-btn {
  margin-left: -1px;
}

.wb-g-btn-container {
  *zoom: 1;
  display: inline-block;
}

.wb-g-btn-container:before,
.wb-g-btn-container:after {
  display: table;
  content: "";
}

.wb-g-btn-container:after {
  clear: both;
}

.wb-sym {
  display: inline-block;
}

.wb-sym.down {
  width: 12px;
  height: 8px;
  background-image: url(../img/down2.png);
}

.wb-sym.up {
  width: 12px;
  height: 8px;
  background-image: url(../img/up2.png);
}

.wb-bbox {
  border: 1px solid #ccc;
}

.wb-bbox + .wb-bbox {
  border-top: none;
}

.wb-cell2 {
  border-bottom: 1px solid #ccc;
  padding: 53px 30px 20px;
}

.wb-cell {
  border-bottom: 1px solid #ccc;
}

.wb-cell-item {
  text-align: center;
  height: 150px;
  padding-top: 60px;
}

.wb-cell-item + .wb-cell-item {
  border-left: 1px solid #ccc;
}

.wb-tab2 {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 16px;
  text-align: center;
  border: 1px solid #a1a1a1;
  border-bottom: 3px solid #666666;
}

.wb-tab2-item {
  display: table-cell;
  height: 43px;
  vertical-align: middle;
}

.wb-tab2-item + .wb-tab2-item {
  border-left: 1px solid #a1a1a1;
}

.wb-tab2-item.active {
  background-color: #666666;
  color: white;
}

.wb-cat-tab {
  margin-top: 50px;
}

@media (max-width: 1059px) {
  .wb-cat-tab {
    margin-top: 0;
    overflow-x: scroll;
    background-color: #f7f7f7;
  }
}

.wb-cat-tab-wrapper {
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
}

@media (max-width: 1059px) {
  .wb-cat-tab-wrapper {
    white-space: nowrap;
    border: none;
    display: inline-block;
    padding: 0 6px;
  }
}

.wb-cat-tab-item {
  float: left;
  height: 46px;
  width: 120px;
  line-height: 46px;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
  margin: -1px;
  color: #4d4d4d;
  font-size: 16px;
}

.wb-cat-tab-item.active {
  background-color: #1a8fe1;
  color: white;
}

@media (max-width: 1059px) {
  .wb-cat-tab-item {
    float: none;
    display: inline-block;
    margin: 0;
    border: none;
    width: auto;
    padding: 0 24px;
    height: 61px;
    line-height: 61px;
    font-size: 24px;
  }
  .wb-cat-tab-item.active {
    background-color: transparent;
    color: #4d4d4d;
    border-bottom: 5px solid #0b8bce;
  }
}

.wbm-header {
  background-color: white;
  height: 70px;
  position: relative;
}

@media (min-width: 1060px) {
  .wbm-header {
    display: none;
  }
}

.wbm-header-search {
  float: left;
  height: 70px;
  width: 80px;
  text-align: center;
  padding-top: 15px;
  border-right: 1px solid #ccc;
  background-color: white;
  position: relative;
  z-index: 10;
}

.wbm-header-menu {
  float: right;
  height: 70px;
  padding-top: 8px;
  margin-right: 34px;
  position: relative;
  z-index: 10;
}

.wbm-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 18px;
}

.wbm-banner {
  padding: 30px 0;
}

.wbm-banner .slick-dots {
  bottom: 5%;
}

.wbm-other {
  margin-bottom: 70px;
}

.wbm-other-wrapper {
  padding: 24px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.wbm-tab {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media (min-width: 1060px) {
  .wbm-tab {
    display: none;
  }
}

.wbm-tab-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #0b8bce;
  height: 60px;
  color: #dddddd;
  font-weight: bold;
  font-size: 22px;
  border-right: 1px solid #0c9be6;
}

.wbm-tab-item.active {
  color: white;
}

.wbm-tab-item + .wbm-tab-item {
  border-left: 1px solid #0a7bb6;
}

.wbm-tab-item:last-child {
  border-right: none;
}

.wbp-free-board-title {
  margin-top: 49px;
}

.wbp-free-board-info-bar {
  margin-top: 20px;
  margin-bottom: 30px;
}

.wbp-free-board-info-bar-wrapper {
  border-top: 2px solid #a1a1a1;
  border-bottom: 1px solid #ccc;
  padding: 8px 0 8px 22px;
}

.wbp-free-board-detail {
  color: #727272;
  min-height: 335px;
}

.wbp-free-board-action {
  text-align: right;
  margin-bottom: 29px;
}

.wbp-league {
  margin-top: 50px;
}

.wbp-league-list {
  margin-top: 15px;
  border-top: 2px solid #a1a1a1;
  position: relative;
  margin-bottom: 50px;
}

.wbp-league-list:before {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 0;
  width: 119px;
  height: 5px;
  background-color: #0b8bce;
}

.wbp-league-list-item {
  padding: 50px 0 40px 0;
  border-bottom: 1px solid #ccc;
}

.wbp-league-pagin {
  margin-bottom: 293px;
}

@media (max-width: 1059px) {
  .wbp-league {
    margin-top: 0;
  }
  .wbp-league-list {
    margin-top: 0;
    margin-bottom: 112px;
    border-top: 1px solid #ccc;
  }
  .wbp-league-list:before {
    display: none;
  }
  .wbp-league-filter {
    padding: 30px 0;
  }
}

.wbp-register {
  margin-top: 50px;
  margin-bottom: 127px;
}

.wbp-register-pl15 {
  padding-left: 15px;
}

.wbp-register-form {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 1059px) {
  .wbp-register-form {
    width: auto;
  }
}

.wbp-login {
  margin-top: 50px;
  min-height: 500px;
}

.wbp-login-wrapper {
  width: 454px;
  margin: 50px auto;
}

@media screen and (max-width: 767px) {
  .wbp-login-wrapper {
    width: 100%;
    max-width: 454px;
  }
}

.wbp-login-left, .wbp-login-right, .wbp-login-row {
  float: left;
}

@media screen and (max-width: 767px) {
  .wbp-login-left, .wbp-login-right {
    display: block;
    width: 100%;
    float: none;
    margin: 0;
  }
}

.wbp-login-left {
  margin-right: 11px;
}

@media screen and (max-width: 767px) {
  .wbp-login-left {
    margin-bottom: 22px;
  }
}

.wbp-login-row {
  margin-top: 22px;
  width: 100%;
}

.wbp-login-input-row + .wbp-login-input-row {
  margin-top: 10px;
}

.wbp-login-input-label, .wbp-login-input-text {
  float: left;
}

@media screen and (max-width: 767px) {
  .wbp-login-input-label, .wbp-login-input-text {
    display: block;
    width: 100% !important;
    float: none;
  }
}

.wbp-login-input-label {
  padding-top: 7px;
  width: 83px;
}

.wbp-login-input-label label {
  font-size: 16px;
}

.wbp-login-input-text {
  width: 270px;
}

.wbp-login-input-text input {
  width: 100%;
}

.wbp-login-btn {
  width: 90px;
  height: 82px;
  background-color: #1a8fe1;
  border: none;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .wbp-login-btn {
    width: 100%;
    height: 36px;
  }
}

@media screen and (max-width: 767px) {
  .wbp-login .forgot a {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.wbp-forgot {
  margin-top: 50px;
  min-height: 500px;
}

.wbp-forgot-tabs {
  margin-top: 47px;
  border-bottom: 3px solid #818181;
}

.wbp-forgot-tabs li {
  width: 50%;
  margin: 0;
}

.wbp-forgot-tabs li.active a, .wbp-forgot-tabs li.active a:focus {
  border: none;
  background-color: gray;
  color: white;
}

.wbp-forgot-tabs li a {
  display: block;
  height: 37px;
  border: none;
  border-radius: 0;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 0;
  padding-top: 5px;
  margin-right: 0;
}

.wbp-forgot-pad {
  padding: 0 44px;
}

.wbp-forgot .form-group {
  margin-bottom: 11px;
}

@media (max-width: 1059px) {
  .wbp-forgot-pad {
    padding: 0;
  }
}

.wbp-book-detail {
  margin-bottom: 150px;
}

.wbp-book-detail-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wbp-book-detail-table thead tr th {
  height: 50px;
  vertical-align: middle;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.wbp-book-detail-table tbody tr:hover {
  background-color: #f6f6f6;
}

.wbp-book-detail-table tbody tr td {
  height: 80px;
  vertical-align: middle;
}

.wbp-book-detail-table tbody tr:last-child {
  border-bottom: 1px solid #ccc;
}

.wbp-book-detail-tabs ul.nav {
  border-bottom: 2px solid #aaaaaa;
}

.wbp-book-detail-tabs ul.nav li, .wbp-book-detail-tabs ul.nav li.active {
  margin: 0;
}

.wbp-book-detail-tabs ul.nav li a, .wbp-book-detail-tabs ul.nav li a:hover, .wbp-book-detail-tabs ul.nav li a:focus, .wbp-book-detail-tabs ul.nav li.active a, .wbp-book-detail-tabs ul.nav li.active a:hover, .wbp-book-detail-tabs ul.nav li.active a:focus {
  border: none;
  margin: 0;
  border-radius: 0;
}

.wbp-book-detail-tabs ul.nav li a:hover {
  background-color: transparent !important;
}

.wbp-book-detail-tabs ul.nav li a {
  color: #888888;
  font-size: 22px;
}

.wbp-book-detail-tabs ul.nav li.active a {
  color: black;
}

.wbp-book-detail-tabs ul.nav li.active a, .wbp-book-detail-tabs ul.nav li.active a:hover, .wbp-book-detail-tabs ul.nav li.active a:focus {
  margin-bottom: -2px;
  border-bottom: 5px solid #1a8fe1;
}

@media (min-width: 1060px) {
  .wbp-book-detail-content-col:nth-child(1) {
    width: 190px;
  }
  .wbp-book-detail-content-col:nth-child(2) {
    width: 657px;
  }
}

@media (max-width: 1059px) {
  .wbp-book-detail-content-col:nth-child(1) {
    margin-bottom: 20px;
    text-align: center;
  }
  .wbp-book-detail-action {
    text-align: center;
  }
}

.wbp-ep-detail {
  margin: 50px 0 192px 0;
}

.wbp-ep-detail-r1 {
  padding: 30px 50px;
}

.wbp-ep-detail-r2 {
  padding: 82px 182px 50px 182px;
  position: relative;
}

.wbp-ep-detail-r3 {
  text-align: center;
  padding: 40px 0;
}

.wbp-ep-detail-r4 {
  padding: 30px 130px;
}

.wbp-ep-detail-bm {
  text-align: right;
}

.wbp-ep-detail-title {
  padding-top: 5px;
}

.wbp-ep-detail-control2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 40px;
}

.wbp-ep-detail-control2-left {
  float: left;
}

.wbp-ep-detail-control2-right {
  float: right;
}

.wbp-ep-detail-control3 {
  position: absolute;
  top: 60%;
  left: 100%;
}

.wbp-ep-detail-area {
  width: 627px;
  margin-right: 10px;
}

.wbp-ep-detail-btn {
  width: 100px;
}

@media (max-width: 1059px) {
  .wbp-ep-detail-r1 {
    padding: 20px 20px;
    border-right: none;
    border-left: none;
  }
  .wbp-ep-detail-r2 {
    padding: 60px 0;
    border-right: none;
    border-left: none;
  }
  .wbp-ep-detail-r3 {
    border-right: none;
    border-left: none;
  }
  .wbp-ep-detail-r4 {
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
  }
  .wbp-ep-detail-bm {
    text-align: center;
  }
  .wbp-ep-detail-title {
    padding-top: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  .wbp-ep-detail-control {
    margin-bottom: 20px;
  }
  .wbp-ep-detail-area {
    width: auto;
    margin: 0;
    margin-bottom: 10px;
  }
  .wbp-ep-detail-btn {
    width: auto;
  }
  .wbp-ep-detail-btn button {
    height: 50px !important;
  }
}

.wbp-search-tab {
  margin: 50px 0;
}

.wbp-search-list {
  margin-bottom: 100px;
}

@media (max-width: 1059px) {
  .wbp-search-tab {
    margin: 0;
    margin-bottom: 20px;
  }
  .wbp-search-tab .wb-tab2 {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.wbp-fbw {
  margin-bottom: 100px;
}

.wbp-free-board2 {
  margin-bottom: 100px;
}

.wbp-free-board2-best {
  padding: 22px;
  border: 1px solid #ccc;
  margin-top: 24px;
  margin-bottom: 53px;
  width: 805px;
}

.wbp-free-board2-best-col:nth-child(1) {
  width: 200px;
}

.wbp-free-board2-best-col:nth-child(2) {
  width: 280px;
}

.wbp-free-board2-text {
  font-size: 13px;
  color: #474747;
  line-height: 1.5;
}

@media (max-width: 1059px) {
  .wbp-free-board2-best {
    width: auto;
  }
  .wbp-free-board2-best-col {
    text-align: center;
  }
  .wbp-free-board2-best-col:nth-child(1) {
    width: auto;
    margin-bottom: 10px;
  }
  .wbp-free-board2-best-col:nth-child(2) {
    width: auto;
  }
  .wbp-free-board2-text {
    line-height: 1.7;
    font-size: 16px;
  }
}

.wbp-privacy {
  margin: 50px 0 100px 0;
}

.wbp-privacy-content {
  padding: 15px 20px;
  border: 1px solid #ccc;
  height: 620px;
  overflow-y: auto;
  margin-top: 18px;
}

.wbp-notice {
  margin-bottom: 100px;
}

.wbp-notice-bar {
  border-top: 1px solid #d6d8d9;
  border-bottom: 2px solid #a1a1a1;
  padding: 20px 0 20px 25px;
}

.wbp-favo {
  margin-bottom: 130px;
}

.wbp-charge-box {
  border: 1px solid #ccc;
  padding: 0 30px 0 30px;
}

.wbp-charge-box-title {
  padding: 14px 0;
  border-bottom: 5px solid #f4f4f4;
}

.wbp-charge-box-item {
  padding: 20px 0;
}

.wbp-charge-box-item + .wbp-charge-box-item {
  border-top: 1px solid #ccc;
}

.wbp-sale {
  margin-bottom: 150px;
}

.wbp-charge {
  margin-bottom: 150px;
}

.wbp-coupon {
  margin-bottom: 150px;
}

.wbp-coupon-box {
  border: 1px solid #ccc;
  width: 700px;
  height: 110px;
  background: url(../img/b1.png) no-repeat;
  padding: 9px 39px;
}

.wbp-coupon-w700 {
  width: 700px;
}

@media (max-width: 1059px) {
  .wbp-coupon-w700 {
    width: auto;
  }
}

.wbp-myinfo {
  margin-bottom: 150px;
}

.wbp-withdrawal {
  margin-bottom: 150px;
}

.wbp-withdrawal-box {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  padding: 40px;
}

.wbp-withdrawal-form {
  margin-top: 130px;
}

.wbp-message {
  margin-bottom: 150px;
}

.wbp-message-pad {
  padding: 30px 22px;
}

.wbp-message-pad2 {
  padding: 20px 0 0 22px;
}

@media (max-width: 1059px) {
  .wbp-message-pad, .wbp-message-pad2 {
    padding-left: 0;
    padding-right: 0;
  }
}

.wbp-book-create {
  margin-bottom: 150px;
}

.wbp-book-create-checks {
  padding: 10px 13px;
  border: 1px solid #ccc;
}

.wbp-book-create-col {
  width: 140px;
  margin-right: 20px;
}

.wbp-book-create-col2 {
  width: 122px;
}

.wbp-book-create-col3 {
  width: 140px;
  margin-right: 15px;
}

.wbp-book-create-box {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  padding: 20px 44px 14px 20px;
}

@media (max-width: 1059px) {
  .wbp-book-create-col,
  .wbp-book-create-col2,
  .wbp-book-create-col3 {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
